.one {
    background-color: rgb(187, 107, 96);
    font-family: Verdana, sans-serif;
}

.cooler-class {
    font-size: 24px;
}

#two {
    color: blue;
    font-size: 36px;
}

#four {
    background-color: rgb(50, 230, 140);
    font-size: 24px;
    font-weight: bold;
}