* {
    margin: 0px;
    padding: 0px;
}

.paralax {
    min-height: 100vh;

    /* Paralax itself */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.home-top {
    /* Used image */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/eiliv-sonas-aceron-ZuIDLSz3XLg-unsplash.jpg");
}

.center {
   background-color: whitesmoke; 
   min-height: 100vh;
   text-align: center;
}

.home-bottom {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/khloe-arledge-ND3edEmzcdQ-unsplash.jpg");
}

.lasagna {
    background-image: url("../img/luke-johnson-inC_KZ5oZCI-unsplash.jpg");
}

.borscht {
    background-image: url("../img/monika-grabkowska-vCyWfv3YjM0-unsplash.jpg");
}

.pancakes {
    background-image: url("../img/chad-montano-eeqbbemH9-c-unsplash.jpg");
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 3em;
    font-weight: bold;
}

.flex-container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      gap: 25px;
      padding: 50px;
}

.flex-item img {
    width: 250px;
    height: 350px;
    border-radius: 10px;
    background-color: gray;
    box-shadow: 2px 1px 8px 2px rgba(0,0,0,0.4);
}

img:hover {
    transform: translate3D(0,-1px,0) scale(1.03); /* move up slightly and zoom in */
    box-shadow: 2px 1px 8px 2px rgba(0,0,0,0.4), 4px 2px 16px 4px rgba(0,0,0,0.2);
    transition: all .4s ease; /* zoom in */
    cursor: pointer;
}

.recipe-container {
    width: 80%;
    height: 100vh;
    margin: auto;
}

.recipe-container h1 {
    text-align: center;
}

.recipe-container .recipe-text {
    padding: 1rem;
}

.recipe-container ul, li {
    list-style-position: inside;
}