* {
    margin: 0px;
    padding: 0px;
}

.paralax {
    min-height: 100vh;

    /* Paralax itself */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.home-top {
    /* Used image */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/eiliv-sonas-aceron-ZuIDLSz3XLg-unsplash.jpg");
}

.center {
   background-color: whitesmoke; 
   min-height: 100vh;
   text-align: center;
}

.home-bottom {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/khloe-arledge-ND3edEmzcdQ-unsplash.jpg");
}

.lasagna {
    background-image: url("../img/luke-johnson-inC_KZ5oZCI-unsplash.jpg");
}

.borscht {
    background-image: url("../img/monika-grabkowska-vCyWfv3YjM0-unsplash.jpg");
}

.pancakes {
    background-image: url("../img/chad-montano-eeqbbemH9-c-unsplash.jpg");
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 3em;
    font-weight: bold;
  }

  .flex-container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      gap: 25px;
      padding: 50px;
  }

  .flex-item {
    width: 250px;
    height: 350px;
    border-radius: 10px;
    background-color: gray;
    box-shadow: 4px 8px 8px 4px rgba(0,0,0,0.4);
}

  .flex-item img{
    width: 250px;
    height: 350px;
    border-radius: 10px;
    box-shadow: 4px 8px 8px 4px rgba(0,0,0,0.4);
}